table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.paginatorPosition {
    bottom: 10px;
    right: 5px;
}

.display-text-status-orange {
    color: orange
}

.display-text-status-red {
    color: red
}

.tableTheme {
    width: 100%;
    background-color: var(--component-background, #fff);
    table-layout: fixed;
}

.tableTheme td.mat-cell,
.tableTheme td.mat-footer-cell,
.tableTheme th.mat-header-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    width: 100px;
    padding-right: 10px;
    white-space: normal;
    border-bottom-color: var(--table-border, var(--component-border, var(--root-component-border, rgba(0, 0, 0, 0.1))));

}

.tableTheme th.mat-header-cell {
    color: var(--component-label-color, #333);
}

.tableTheme td.mat-cell {
    color: var(--component-color, #000);
}

.tableTheme td.display-text-status-red {
    color: red;
}

.tableTheme td.display-text-status-orange {
    color: orange;
}

table a {
    color: var(--component-link-color, var(--link-color, var(--brand-primary, #1776bf)));
}

table a:hover {
    color: var(--component-link-color-hover, var(--link-color-hover, var(--brand-primary, #1776bf)));
}

.btnTheme {
    color: var(--component-color, #000);
}
:host ::ng-deep .page-link{
    height:  32px;
  }